<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pupparazzi</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="app">
      <h1 class="title">Pupparazzi</h1>
      <a class="nav" href="/">Home</a>
      <h1>This is the main page</h1>
      {{{body}}}
    </div>
  </body>
</html>
