<h1>To Do List</h1>

<div class="container">

  <table class="w3-table">
    <tr>
      <th>Task</th>
      <th>Priority</th>
      <th>Status</th>
    </tr>

    <tr>
      <td>Wash Clothes</td><td><button class="priority">Low</button></td><td><button class="status">New</button></td>
    </tr>
    <tr>
      <td>Visit Hagrid</td><td><button class="priority">High</button></td><td><button class="status">New</button></td>
    </tr>
    <tr>
      <td>Buy a New Wand</td><td><button class="priority">Medium</button></td><td><button class="status">Done</button></td>
    </tr>

    <form class="" action="/" method="post">
      <input type="text" name="newTask" placeholder="Add new task here">
      <input type="submit" name="submitTask" value="Add">
    </form>


</div>
