<h1>To Do List</h1>

<div class="container">

  <table class="w3-table">
    <tr>
      <th>Task</th>
      <th>Priority</th>
      <th>Status</th>
    </tr>
    {{#each data}}
    <tr>
  <td>{{task}}</td><td><button class="priority">{{priority}}</button></td><td><button class="status">{{status}}</button></td>
    </tr>
    {{/each}}

    <form class="" action="/" method="post">
      <input type="text" name="newTask" placeholder="Add new task here">
      <input type="submit" name="submitTask" value="Add">
    </form>


</div>
